.btn-default {
  cursor: pointer;
  font-size: 15px;
  line-height: 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;

  &.btn-primary {
    color: var(--white);
    background-color: var(--primary-clr);
  }

  &.btn-secondary {
    background-color: var(--gray-light);
    color: var(--gray-dark);
  }

  &.btn-small {
    height: 40px;
    width: 78px;
  }

  &.btn-large {
    height: 50px;
    width: 161px;
  }
}