:root {
  --primary-clr: #ff8d00;
  --primary-border-clr: #dddddd;

  --white: #ffffff;

  --black: #000000;
  --black-op-10: rgba(0, 0, 0, 0.10);
  --black-op-19: rgba(0, 0, 0, 0.19);
  --black-op-20: rgba(0, 0, 0, 0.20);

  --gray: #cccccc;
  --gray-light: #eeeeee;
  --gray-lighter: #f5f5f5;
  --gray-lightest: #fefefe;
  --gray-dark: #555555;

  --green-op-60: rgba(0, 128, 0, 0.6);
  --green-op-40: rgba(0, 128, 0, 0.4);

  --error: #e32445;
}